<header style="
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0dede;
    padding: 20px;
">
    <h1>SHOP MOBILE</h1>
    <div style="display: inline-flex">
        <div style="margin-right: 10px">
            <a class="btn btn-primary" href="#" role="button">Thêm Mới</a>
        </div>
        <form>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nhập thông tin..." aria-label="Nhập thông tin..."
                       aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Tìm kiếm</button>
            </div>
        </form>
    </div>
</header>